<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base"
      xmlns:th="http://www.thymeleaf.org">

<section layout:fragment="jumbotron-content">
    <h5 th:inline="text">Thymeleaf version: [[${T(info.ns01.thymeleaf_editor.utils.Utils).getThymeleafVersion()}]]</h5>
    <h1>Usage</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
</section>

<section layout:fragment="standard-content">
    <div class="row">
        <form method="post" action="" th:object="${templateForm}">
            <div class="col-lg-6">
                <h2>Template</h2>
                <div class="form-group">
                    <textarea class="form-control" id="template_field" rows="12" th:field="*{template}"></textarea>
                </div>
            </div>
            <div class="col-lg-6">
                <h2>Model</h2>
                <div class="form-group">
                    <textarea class="form-control" id="model_field" rows="10" th:field="*{model}"></textarea>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <select th:with="modes=${T(info.ns01.thymeleaf_editor.utils.Utils).getStandardTemplateModesNames()}" id="template_mode" name="template_mode" class="form-control forms" th:field="*{mode}">
                            <option th:each="mode : ${modes}"
                                    th:value="${{mode}}" th:text="${mode}">
                                PLACEHOLDER FOR TEMPLATE MODE
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <button type="submit" class="btn btn-primary">Generate</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div>
        <h2>Result</h2>
        <div><a th:if="${result}" id="render_page_link" href="#" th:onclick="${'renderPage(''' + result + ''');'}">Render
            result</a> <span th:if="${result}"
                             class="bg-danger">This can be dangerous with malicious template or model</span></div>
        <br/>
        <div class="form-group">
            <textarea class="form-control" id="result_field" rows="18" readonly="readonly"
                      th:text="${result}"></textarea></div>

    </div>
</section>

</html>
